.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml12 {
    font-family: "Comfortaa", cursive;
}

#zz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

body {
    background: gray;
}